/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #F9F8F6;
  --light-grey: #9A9A91;
  --pink: #855F79;
  --dark-grey: #7C8382;
  --black: #263027;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 0.85rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: 100vw;
  color: var(--black);
  background-color: var(--light-grey);
  overflow: auto;
}

.sidebar {
  background-color: var(--pink);
  color: var(--white);
  grid-row: 1 / 3;
  display: grid;
  gap: 5px;
  align-items: start;
  justify-items: start;
}

.topbar {
  background-color: var(--white);
  grid-row: 1 / 2;
  min-height: 130px;
  max-height: 400px;
  box-shadow: 0 0 10px var(--black);
  overflow: hidden;
  padding-top: 3px;
}

.middle {
  grid-row: 2 / 3;
  height: 80vh;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 10px;
  overflow: auto;
}

h2 {
  color: var(--white);
  margin: 10px;
  font-size: 1em;
}

h3 {
  font-size: 1em;
}

/* Sidebar styles */
.logoImg {
  height: 4vh;
  width: 2vw;
}

.icon {
  height: 3vh;
}

.avatar {
  height: 6vh;
}

.avatar-badge {
  height: 8vh;
  justify-self: end;
}

.logo, .upper-btns > div, .lower-btns > div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  align-items: center;
  justify-items: start;
  margin-left: 15px;
  padding: 8px;
}

/* Top Bar */

.top-row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: stretch;
}

.top-row1-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: stretch;
  align-items: end;
}

.top-row1-right {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: end;
  gap: 5px;
  margin-right: 50px;
}

input {
  min-width: 450px;
  border-radius: 8px;
  background-color: var(--light-grey);
  color: var(--white);
  border: var(--light-grey);
}

button {
  border-radius: 20px;
  padding: 8px 25px;
  background-color: var(--pink);
  color: var(--white);
  width: 125px;
  border: 1px solid var(--pink);
  box-shadow: 0 0 5px var(--black);
}

.top-row2 {
  display: grid;
  grid-template-columns: 1fr 5fr 4fr;
  margin-left: -50px;
}

.top-row2-left, .top-row2-right {
  display: grid;
  justify-items: start;
  gap: 5px;
}

.top-row2-left {
  grid-template-columns: 1fr 2fr; 
  grid-column: 1 / 3;
  align-items: center;
  margin-left: -20px;
}

.top-row2-right {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  grid-column: -1 / -2;
  margin-right: 20px;
}

.small {
  font-size: small;
}

.user-name {
  justify-self: start;
}

/* Middle Area */

.heading {
  margin: 10px 10px 10px 20px;
  color: var(--white);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  margin: auto;
  padding: 15px;
  border-left: 10px solid var(--black);
  width: 350px;
  height: 187px;
  display: grid;
  gap: 10px;
  box-shadow: 0 0 10px var(--black);
}

.cardIcons {
  align-self: end;
  justify-self: end;
}

.middle-right {
  display: flex;
  flex-direction: column;
}

.announements {
  height: 400px;
  width: 250px;
}

.announcement-box {
  height: 270px;
  width: 300px;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px var(--black);
}

.xsmall {
  font-size: x-small;
  text-align: justify;
}

.announcement {
  padding: 10px;
  text-align: center;
}

.trending {
  height: 260px;
  width: 300px;
}

.trending-box {
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px;
  display: grid;
  justify-items: start;
  align-items: center;
  box-shadow: 0 0 10px var(--black);
}

.trending-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}